@import "./styles/colors";
@import "./styles/aligement";
.title-and-tabs {
  margin-left: $sideMargin;
  margin-top: $sideMargin;
  h2 {
    font-weight: normal;
    margin-bottom: 35px;
    font-size: 1.4em;
  }
}

.app-body {
  background-color: $backgroundColor;
  padding: $sideMargin 55px $sideMargin $sideMargin;
}
